# project-specific
nextflow/pipeline_*.txt
nextflow/pipeline_*.html
geryon_data/
plots/
out


# nextflow
.nextflow*
work


# python build
.idea
build
dist
*.egg-info

# python runtime
__pycache__/
*.py[cod]

# uv virtual environment
.venv/

# Python caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Vim temporary files
*~
*.swp
*.swo

# OSX finder files
.DS_Store
.DS_store
